@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  font-family: "Quicksand"
}
body{
  /* background-color:#3CCDC6; */
  margin:10px;
  /* background-image: url("./img/stackofbooks1.jpg"); */
  /* opacity: 0.1; */
  animation-name: example;
  animation-duration : 10s;
  animation-iteration-count: infinite;
  /* #2E86AB ; */
}
.imageHeader{
  opacity:.8;
 }
/* .imageSlider{
  margin:0;
  padding:0;
  /* height:100vh; */
  /* height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background : #23E3C9;
}
.slider{
  width:800px;
  height:500px;
  border-radius: 10px;
  overflow: hidden;

}
.slides{
  width:500%;
  height:500px;
  display:flex;
}
.slides input{
  display: none;
}
.slide{
  width:20%;
  transition: 2s;
}

.slide img{
  width : 800px;
  height : 500px;
} */

/* css for manual slide navigation */

@keyframes example {
  /* 0%{background-color:teal;}
  20%{background-color: #3CCDC6 ;}
  40%{background-color: white;}
  60%{background-color: white ;}
  80%{background-color: #3CCDC6}
  100%{background-color: teal;}
   */
   /* 0%{background-color:white;}
  20%{background-color: whitesmoke ;}
  40%{background-color: white;}
  60%{background-color: whitesmoke ;}
  80%{background-color: white}
  100%{background-color: whitesmoke;} */
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 20px;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav div{
  margin:10px;
}
.footerc {
  margin-top: 200px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 20px;
}
.footerc a {
  color: white;
  text-decoration: none;
}
.footerc div{
  margin:10px;
}
.header{
/* background-image: url("./img/stackofbooks1.jpg"); */
/* padding : 10px; */
width :100%;
/* /* border-left: 40px; */
/* border-right: 0px; */
/* margin:0 auto; */
height : 250px;
/* border-radius: 80px; */
display: flex;
}
button{
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid blue;
  border-radius: 12px;
  padding: 5px 15px;
  /* width : 80px;
  border-radius: 15%;
  margin:10px; */
}
button:hover{
  background-color : darkgray;
}
button:active{
  background-color: navy;
  border: 2px solid blueviolet;
}
.search{
  color : white;
}
.container{
  border : 0px solid black;
  margin: auto;
  padding : 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.containerleft{
  border: 0px solid black;
  width : 600px;
  margin-left: 300px;
}
.containerright{
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width : 500px;
  align-items: center;
}
img.containerright{
  width:300px;
  height:300px;
}

.tab:hover{
  /* text-decoration: underline; */
  -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    /* box-shadow: 0 0 0 2px #000000; */
    transition: .5s ease;
    background-color: darkgray;
    border-radius: 10px;
}
form{
  margin: 0 auto;
  border: 0px solid black;
  width : 500px;
}
.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.bookSingle{
  border: 2px solid black;
  width : 200px;
  height : 350px;
  padding: 20px;
  margin: 10px;  
  border-radius: 15%;
  /* background-color: lightyellow; */
  background-color: #FAF0CA;
  color:black;
  /* background-color:  #FAF0CA A23B72; */
  transition: .5s ease;
  overflow: hidden;
}
.bookImage:hover{
  /* border-radius:50%;
transition: 1s ease; */
  box-shadow:
1px 1px #373737,
2px 2px #373737,
3px 3px #373737,
4px 4px #373737,
5px 5px #373737,
6px 6px #373737;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease;

    /* -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 0 2px #000000;
    transition: .5s ease; */
    
}
.bookImage{
  width:150px;
  height:150px;
}
.bookSingle:hover{
  /* border-radius:50%;
transition: 1s ease; */
  /* box-shadow:
1px 1px #373737,
2px 2px #373737,
3px 3px #373737,
4px 4px #373737,
5px 5px #373737,
6px 6px #373737;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease; */

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 0 2px #000000;
    transition: .5s ease;
    
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
