.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
  font-family: cursive;
}
.header{
background-image: url("./img/stackofbooks1.jpg");
padding : 10px;
width :100%;
height : 350px;

}
button{
  width : 100px;
  border-radius: 10%;
}
button:hover{
  background-color : darkgray;
}
.container{
  border : 0px solid black;
  margin: auto;
  padding : 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.containerleft{
  font-family: cursive;
  border: 0px solid black;
  width : 500px;
  justify-content: flex-end;
}
.containerright{
 justify-content: flex-start;
 width : 500px;
}
.nav a {
  color: white;
  text-decoration: none;
}
.App {
  
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bookSingle{
  border: 0px solid black;
  width : 400px;
  padding: 20px;
  margin : 20px;
  font-family: cursive;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
